.headern {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: top 0.3s ease-in-out; /* Transición suave */
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}




.menu-bar {
    display: none;
}
.navegacion {
    background-color: rgb(242, 242, 242);   
    width: 100%;
    padding: 1.4rem;    
    margin: 0;
}

.conetenedor-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
    
}




.conetenedor-nav img {
    width: 12rem;
    height: 12rem;
    margin: 0 5rem 0 0;
}

.opcion a {
    text-decoration: none;
    padding-right: 2rem;
    font-family: var(--Textosecundario);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    
}

a:hover{
    color: rgb(205, 152, 52) /*este color solo se usa aqui*/
}

a:hover::after{
    width: 100%;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.3rem; /* Ubicación justo debajo del texto */
    width: 0; /* Empieza invisible */
    height: .2rem; /* Grosor de la línea */
    background-color:var(--secundario);
    transition: width 0.3s ease; /* Animación suave */
}


.conetenedor-nav .opcion{
    display: flex;
    margin-left: 0;
}

.nav{
    display: flex;  
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    
}


/* Estilo del menú principal */
ul {
    list-style: none;
    background-color: var(--primario);
    padding: 0;
    margin: 0;
    display: flex; /* Para una distribución en línea de los elementos */
    justify-content: center; /* Centra los elementos */
}

ul li {
    position: relative;
}

ul li a {
    display: block;
    padding: 1.5rem 2.5rem;
    color: var(--secundario);
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase; /* Mayúsculas para un estilo más moderno */
    font-weight: 600; /* Texto en negritas */
    transition: all 0.3s ease; /* Transición suave para hover */
}



/* Estilo para el submenú */
ul li ul.dropdown {
    width: 200px;
    background-color:  #f2f2f2;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 999;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    border-radius: 8px; /* Bordes redondeados */
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown li a {
    padding: 1rem 2.5rem;
    color: var(--negro);
    background-color: var(--dropdown-bg);
    text-transform: none;
    border-bottom: 1px solid #ddd; /* Líneas divisorias */
    transition: all 0.3s ease; /* Transición suave */
}

ul li ul.dropdown li:last-child a {
    border-bottom: none; /* Eliminar borde del último elemento */
}

/* Efecto hover sobre los enlaces */
ul li a:hover {
    background-color: var(--hover-bg);
    color: var(--hover-text); /* Cambiar color del texto al pasar el cursor */
}

ul li ul.dropdown li a:hover {
    background-color: var(--hover-bg);
    color: var(--hover-text); /* Cambiar color del texto al pasar el cursor */
}

/* Mostrar el submenú al pasar el mouse */
ul li:hover ul.dropdown {
    display: block;
}

/* Estilo del menú en pantallas pequeñas (mobile) */
@media screen and (max-width: 768px) {
    ul {
        flex-direction: column; /* Cambia la disposición a vertical */
        width: 100%;
    }

    ul li a {
        padding: 1rem 2rem;
        font-size: 1rem; /* Ajuste de tamaño de texto */
    }

    /* Submenú en pantallas pequeñas */
    ul li ul.dropdown {
        width: 100%; /* Submenú ocupa todo el ancho en móvil */
        box-shadow: none; /* Elimina la sombra */
        position: static; /* El submenú ya no se posiciona absolutamente */
    }

    ul li ul.dropdown li a {
        padding: 1rem 2rem;
    }
}


.navegacion {
    background-color: rgb(242, 242, 242);   
    width: 100%;
    padding: 1.4rem;    
    margin: 0;
}

.conetenedor-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.opcion {
    margin-left: 1rem;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    position: relative;
}

.nav ul li a {
    padding: 1rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.nav ul li:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #f2f2f2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.dropdown li a {
    padding: 1rem;
    text-decoration: none;
    color: black;
    background-color: #fff;
}

@media (max-width: 1200px) {
    .nav{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
 
    .nav div {
     margin-top: 2rem;
    }
 }


 @media screen and (max-width: 1200px) {
   
    .conetenedor-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }

    .conetenedor-nav img{
        margin-top: 4rem;
        padding-left: 2rem;
    }

    .menu-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem;
        background-color: #444;
       
    }

    .btn-menu {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-family: var(--Textosecundario);
        font-size: 1.8rem;
        z-index: 999;
    }

    .navegacion {
        display: none; /* El menú está oculto por defecto */
        position: fixed; /* Fijo a la izquierda */
        top: 0;
        left: 0;
        height: 100vh; /* Ocupa toda la altura de la pantalla */
        width: 250px; /* Ancho del menú */
        background-color: #333;
        padding-top: 2rem;
        z-index: 998; /* Asegura que esté encima de otros elementos */
        flex-direction: column;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
        
    }

    .navegacion.active {
        display: flex; /* Muestra el menú cuando se activa */
    }

    .navegacion nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navegacion .opcion,
    .navegacion ul {
        padding: 10px 20px;
        border-bottom: 1px solid #555;
        
    }

    .navegacion a {
        color: white;
        text-decoration: none;
        font-size: 1.7rem;
        font-weight: 300;
    }

 
    /* Submenú en móviles */
    .navegacion ul li .dropdown {
        display: none;
        flex-direction: column;
    }

    .navegacion ul li:hover .dropdown {
        display: flex;
    }

    div ul {
        background-color: #333;
     
    }
    .nav ul li a{
        color: white;
    }

   
}

.h3{

    display: flex;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}