* {
    font-family: "Nissan Regular","Nissan Light",Verdana,Arial,sans-serif;
}
.headern {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: top 0.3s ease-in-out; /* Transición suave */
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.menu-bar {
    display: none;
}

.navegacion {
    background-color: rgb(242, 242, 242);
    width: 100%;
    padding: 1.4rem;
    margin: 0;
}

.conetenedor-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}


.conetenedor-nav img {
    width: 12rem;
    height: 12rem;
    margin: 0 5rem 0 0;
}

.opcion a {
    text-decoration: none;
    padding-right: 2rem;
    font-family: var(--Textosecundario);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;

}

/*a:hover {
    color: rgb(205, 152, 52)*/ /*este color solo se usa aqui*/
/*}

a:hover::after {
    width: 100%;
}

 a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.3rem;*/ /* Ubicación justo debajo del texto */
    /*width: 0;*/ /* Empieza invisible */
    /*height: .2rem;*/ /* Grosor de la línea */
    /*background-color: var(--secundario);
    transition: width 0.3s ease;*/ /* Animación suave */
/*}*/
