
<link rel="stylesheet" href="~/css/css/cssNosotros/styleNosotros.css">

<main class="CajaP">

    <div class="contendor-presentacion">
        <div class="presentacion" style="margin: 40px;">
            <h3>J3OMOTORS GOMEZ PALACIO, CONCESIONARIA AUTOMOTRIZ COMPROMETIDA A LA CALIDA Y LA SATISFACCION DEL CLIENTE</h3>

            <p>El 18 de noviembre de 2024 abrió oficialmente sus puertas al publico, dedicada desde entonces a ofrecer la mejor calidad a sus clientes, Líder actual en ventas en la laguna, J3OMOTORS cuenta con una amplia gama de vehiculos que ofrecen al mejor precio y a una excelente calidad</p>
        </div>

    </div>

    <div class="Contenedor">

        <div class="contenedor-items">

            <div class="contenedor-img">
                <img src="../img/Nosotros/concesinaria.png" alt="">
            </div>

            <div class="contenedor-texto">
                <h3>VENTA DE AUTOS DE AGENCIA</h3>
                <p>Con excelente gama de opciones</p>
            </div>

        </div>

        <div class="contenedor-items">

            <div class="contenedor-texto">
                <h3>SUCURSALES</h3>
                <p>Cuenta con sucursales de facil acceso y atencion al cliente</p>
            </div>

            <div class="contenedor-img">
                <img src="../img/Nosotros/concepequeña.png" alt="">
            </div>

        </div>

        <div class="contenedor-items">

            <div class="contenedor-img">
                <img src="../img/Nosotros/Consesionari.png">
            </div>

            <div class="contenedor-texto">
                <h3>ESTANDARES Y CERTIFICADOS</h3>
                <p>Cuenta con autos estandarizados y certificados, ofreciendo una calidad espectacular</p>
            </div>

        </div>

        <div class="contenedor-items">


            <div class="contenedor-texto">
                <h3>SERVICIO POSVENTA</h3>
                <p>Ofrece un servicio posventa, donde se pueden realizar mantenimiento basico y preventivo</p>
            </div>

            <div class="contenedor-img">
                <img src="../img/Nosotros/mecanico.png" alt="">
            </div>


        </div>

        <!-- ESTO ES LO DEL SLIDER DE IMAGENES -->
        <div>
            <div>
                <h3 class="texto-slide">J3O MOTORS COMPROMETIDOS CON EL CLIENTE</h3>
                <div class="slider">
                    <div class="slides">
                        <img src="../img/Nosotros/2.avif" alt="Imagen 1">
                        <img src="../img/Nosotros/3.avif" alt="Imagen 2">
                        <img src="../img/Nosotros/5.avif" alt="Imagen 2">
                        <img src="../img/Nosotros/6.avif" alt="Imagen 2">
                    </div>
                </div>
            </div>

        </div>

</main>
