
* {
    font-family: "Nissan Regular","Nissan Light",Verdana,Arial,sans-serif;
}

a {
   
    text-decoration: none;
}

.custom-imput {
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    line-height: normal;
    padding: 11px 12px;
    color: #4c4c4c;
    font-size: 16px;
    letter-spacing: 1.5px;
    background-color: #fff;
    transition: all .3s;
    outline: 0;
}

.custom-imput:focus {
    border-color: #007bff; /* azul brillante, puedes cambiarlo */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* sombra azul */
    background-color: #f8f9fa; /* opcional: cambia ligeramente el fondo */
}

.custom-button {
    text-transform: uppercase;
    padding: 12px 30px;
    min-height: 48px;
    font-family: "Nissan Regular","Nissan Light",Verdana,Arial,sans-serif;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    transition: all 0.3s ease;
}

.custom-button:hover {
    background: rgba(0, 0, 0, 0.7); /* Negro con opacidad del 70% */
    color: #fff;
    border: 1px solid #000;
}

.custom-label {
    display: block;
    font-size: 16px;
    font-family: "Nissan Regular","Nissan Light",Verdana,Arial,sans-serif;
    margin-bottom: 8px;
    line-height: calc(26 / 16);
    color: #000;
    text-transform: none;
    letter-spacing: 1.5px;
}