@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/css/css/Styleindex.css">

<div style="margin:0;" class="slider">
    <div class="slider--inner">

        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">

    </div>
    <button class="slider-btn prev">❮</button>
    <button class="slider-btn next">❯</button>
</div>

<main>

    <section class="nav-icon">

        <div class="">

            <div class="container-icon">

                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="50"
                         height="50"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="rgb(128,128,128)"
                         stroke-width="2.5"
                         stroke-linecap="round"
                         stroke-linejoin="round">
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M12 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M12 14l0 7" />
                        <path d="M10 12l-6.75 -2" />
                        <path d="M14 12l6.75 -2" />
                    </svg>

                    <p> Elige y maneja </p>
                </a>

            </div>

        </div>

        <div class="">

            <div class="container-icon">

                <a href="#">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="50"
                             height="50"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="rgb(128,128,128)"
                             stroke-width="2.5"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                            <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
                            <path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                            <path d="M12 17v1m0 -8v1" />
                        </svg>
                    </span>
                   <p> Precios y Promociones</p>
                </a>

            </div>



        </div>

        <div class="">

            <div class="container-icon">
                <a href="#">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="50"
                             height="50"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="rgb(128,128,128)"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2" />
                            <path d="M14 8h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5m2 0v1.5m0 -9v1.5" />
                        </svg>
                    </span>
                    <p> Solicita una Cotizacion</p>
                </a>
            </div>


        </div>

    </section>

    <section class="principal">

        <div class="contenedor-grid">

            <div class="contenedor-items">
                <div>

                    <img src="" alt="">

                </div>

                <h3>Nueva Equinox EV</h3>
                <hr>
                <p>Descubre la nueva Equinox EV, la SUV 100% eléctrica que desafía a las demás con su rango desde 513 km por carga completa, diseño innovador y tecnología regenerativa de energía Regen On Demand y One Pedal Driving.</p>
            </div>

            <div class="contenedor-items">
                <div>
                    <img src="" alt="">
                </div>

                <h3>Nueva Blazer EV</h3>
                <hr>
                <p>Descubre la nueva Equinox EV, la SUV  que desafía a las demás con su rango desde 513 km por carga completa, diseño innovador y tecnología regenerativa de energía Regen On Demand y One Pedal Driving.</p>
            </div>

            <div class="contenedor-items">
                <div>
                    <img src="" alt="">
                </div>

                <h3>Colorado</h3>
                <hr>
                <p>
                    La nueva Chevrolet Colorado ZR2 es la máxima expresión de Off-Road
                    con capacidades todo terreno únicas en su segmento
                </p>
            </div>

            <div class="contenedor-items">
                <div>
                    <img src="" alt="">

                </div>

                <h3>Mazda CX-90</h3>
                <hr>
                <p>nueva SUV está construida sobre la exclusiva plataforma LARGE de Mazda, la cual cuenta con un diseño longitudinal de inclinación en las ruedas traseras y motor delantero que mejora el rendimiento</p>
            </div>

            <div class="contenedor-items">
                <div>
                    <img src="" alt="">

                </div>


                <h3>Nissan Sentra </h3>
                <hr>
                <p>El sedán más tecnológico de su segmento. Descubre cada una de sus tecnologías y ve un paso adelante.</p>

            </div>

            <div class="contenedor-items">

                <div>
                    <img src="" alt="">

                </div>

                <h3>La mejor comodidad </h3>
                <hr>
                <p>Transpórtate a otros mundos con soluciones a tu medida.</p>

            </div>

        </div>


    </section>

    <section class="noticias">

        <div class="titulo-noticia">
            <h2>Últimas Noticias del Mundo Automotriz</h2>
        </div>

        <div class="contenedor-noticias">

            <article>

                <div class="contenedor-img">
                    <a href=""> <img src="" alt=""></a>
                </div>

                <div class="detalles">
                    <a href="">
                        <h3>los Autos con mejor con sumo de gasolina</h3>
                        <p>En esta nota te mostraremos una lista de algunos autos  con mejor consumo de combustible.</p>
                    </a>
                    <a href="#">Leer más > </a>
                </div>

            </article>

            <article>
                <div class="contenedor-img">
                    <a href=""> <img src="" alt=""></a>
                </div>


                <div class="detalles">
                    <a href="">
                        <h3>Cuanto cuesta mantener un vehiculo </h3>
                        <p>Mantener un vehículo va mucho más allá de solo el costo inicial; implica una serie de gastos continuos que, a largo plazo..</p>
                    </a>
                    <a href="#">Leer más > </a>
                </div>

            </article>

            <article>

                <div class="contenedor-img">
                    <a href=""> <img src="" alt=""></a>
                </div>


                <div class="detalles">
                    <a href="">
                        <h3>Como Elegir tu primer auto</h3>
                        <p>El primer auto suele ser más que solo un medio de transporte; es una puerta a la independencia...</p>
                    </a>
                    <a href="#">Leer más > </a>
                </div>

            </article>

            <article>

                <div class="contenedor-img">
                    <a href=""> <img src="" alt=""></a>

                </div>

                <div class="detalles">
                    <a href="">
                        <h3>Beneficios de contratar un seguro en mexico</h3>
                        <p>Contar con un seguro de auto no solo es obligatorio en México, sino que también es fundamental... </p>
                    </a>
                    <a href="#">Leer más > </a>
                </div>

            </article>

            <article>

                <div class="contenedor-img">
                    <a href=""> <img src="" alt=""></a>

                </div>

                <div class="detalles">
                    <a href="">
                        <h3>Auto nuevo o Seminuevo?</h3>
                        <p>Comprar un vehículo es una decisión importante que involucra una inversión considerable no solo económica..</p>
                    </a>
                    <a href="#">Leer más > </a>
                </div>

            </article>

            <article>

                <div class="contenedor-img">
                    <a href=""> <img src="" alt=""></a>

                </div>

                <div class="detalles">
                    <a href="">
                        <h3>Como inspeccionar un vehiculo</h3>
                        <p>Realizar una inspección básica es un paso crucial tanto al momento de comprar un auto..</p>
                    </a>
                    <a href="#">Leer más > </a>
                </div>

            </article>

            <div class="Contenedor-btn">
                <button>Ver mas noticias..</button>
            </div>

        </div>
    </section>
</main>


